@import "tailwindcss";
@theme{
    --font-rubik:"Rubik",sans-serif;
    --font-questrial:"Questrial" ,sans-serif;
    --color-primary:#F4F7FA;
    --color-customRed:#F64B4B;
    --breakpoint-custom:668px;
}